# Backend Settings
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=podcast_explorer
POSTGRES_PORT=5432
STORAGE_PATH=./audio_files

# Frontend Settings
NEXT_PUBLIC_API_URL=http://localhost:8000/api
